<!DOCTYPE html>

<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="icon" href="~/my_logo.jpg">
    <title>medassistence</title>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link href="~/js/chunk-2d216214.8db2bc27.js" rel="prefetch">
    <link href="~/js/chunk-2d216257.256ee085.js" rel="prefetch">
    <link href="~/js/chunk-5ecd6ec2.8379df55.js" rel="prefetch">
    <link href="~/js/app.0dff6872.js" rel=preload as="script">
    <link href="~/js/chunk-vendors.541ac768.js" rel=preload as="script">
    <link href="~/css/chunk-vendors.1712f037.css" rel="stylesheet">
    <link href="~/css/app.28f1b74f.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <noscript>
        <strong>
            We're sorry but sistema doesn't work properly without JavaScript enabled. Please enable it to
            continue.
        </strong>
    </noscript>
    <div id=app></div>
    <script src="~/js/chunk-vendors.541ac768.js"></script>
    <script src="~/js/app.0dff6872.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
